numpy==1.23.5
falcon==3.0.1
falcon-marshmallow==0.3.0
marshmallow==3.13.0
marshmallow-union
diffusers==0.20.2
torch==2.0.1
gunicorn==21.2.0
pyjwt==1.7.1
pika==0.13.1
pymongo==4.5.0
mongoengine== 0.27.0
falcon-multipart==0.2.0
body-matrix==0.4.4
av==10.0.0
seaborn==0.12.2
torchvision==0.15.2
boto3